@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.c-g {
	background-color: #589957;
}

.c-lg {
	background-color: #819F48;
}

.c-lo {
	background-color: #FEB131;
}

.c-o {
	background-color: #FF9518;
}

.c-br {
	background-color: #BF9F78;
}

.c-b {
	background-color: #242730;
}


.exp {
	font-size: 14px;
	margin-top: 50px;
	color: darkgray;
}


html,
body,
.wrap {
    width: 100%;
    font-family: 'SBAggroL';
}

a {
	text-decoration: none;
    color: white;
}

a:hover {
	color: #FF9518;
}

ul li {
    display: block;
    color: #FF9518;
    margin: 10px 0px;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-position {
	justify-content: space-around;
	align-items: space-around;
	flex-wrap: wrap;
}

.contents {
    background-color: black;
    width: 100%;
    min-height: 300px;
    color: white;
    font-size: 50px;
	
}

.contents:nth-child(2n-1) {
    background-color: #242730;
}

.contents .title {
	height: 20%;
    margin: 3% 3%;
    font-size: 40px;
    font-weight: bold;
	font-family: 'SBAggroB';
}

.contents .write {
	margin: 3% 3%;
	height: 80%;
    font-size: 20px;
}

.contents .write > div {
	margin: 40px;
}

#top-btn {
    width: 80px;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: lighter;
	z-index: 999;
}


#main .write {
    font-family: 'SBAggroM';
}


/* Chapter 1. Position Div CSS */

.position-title {
	margin-bottom: 10px;
	font-weight: bold;
	
}

.position-area {
	width: 300px;
	height: 300px;
	border: 2px dashed white;
	position: relative;
}

.position-area .position-box {
	width: 100px;
	height: 100px;
}

.position-area .box1-1 {
	position: absolute;
	top: 0;
	left: 0;
	
}

.position-area .box1-2 {
	position: absolute;
	top: 0;
	right: 0;
}

.position-area .box1-3 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.position-area .box1-4 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.position-area .box2-1 {
	width: 200px;
	height: 200px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.position-area .box2-2 {
	position: absolute;
}

.position-area .box3-1 {
	flex: 1;
	margin: 0 10px;
}


.position-area .box3-2 {
	flex: 2
}

.position-area .box3-3 {
	flex: 1;
	margin: 0 10px;
}

.position-area .box4-1 {
	flex: 1;
	margin: 10px 0;
}


.position-area .box4-2 {
	flex: 2
}

.position-area .box4-3 {
	flex: 1;
	margin: 10px 0;
}

.position-area .box5-1 {
	width: 200px;
	height: 200px;
}



/* Project 1 - Resume 작성 */
.resume-wrap {
	
}

.resume-wrap #resume-title {
	font-size: 30px;
}

.resume-wrap .profile > img {
	width: 150px;
	border: 3px solid white;
	margin: 30px 0;
}


.resume-wrap #resume-desArea {
	width: 800px;
	margin-top: 50px;
	align-items: start;
}

.resume-wrap #resume-desArea #resume-des {
	width: 50%;
	margin-right: 10px;
	border: 3px dashed white;
	padding: 20px;
}

.resume-wrap #resume-desArea #resume-deslist {
	width: 50%;
}

.resume-wrap #resume-desArea #resume-deslist > li {
	margin: 0;
	color: white;
}




/*gclone area*/

.glcone-wrapper {
	width: 100%;
	height: 100%;
}

.gclone-wrap {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 14px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}

.gclone-wrap a {
	color: black !important;
	text-decoration: none;
}


/* Header-Area */

.gclone-wrap a:hover {
	border-bottom: 1px solid black;
}

.gclone-wrap {
	width: 958px;
	height: 439px;
	background: white;
}


.gclone-wrap #gclone-header {
	height: 10%;
	justify-content: space-between;
	align-items: center;
}


.gclone-wrap #gclone-header .left-box {
	width: 30%;
	height: 100%;
	align-items: center;
	padding-top: 10px;
}

.gclone-wrap #gclone-header .left-box > * {
	margin-left: 30px;
}

.gclone-wrap #gclone-header .right-box {
	width: 70%;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	padding-top: 10px;
}

.gclone-wrap #gclone-header .right-box > * {
	margin-right: 30px;
}

.gclone-wrap #gclone-header .login-btn {
	height: 35px;
	width: 85px;
	border: none;
	background-color: #1a73e8;
	color: white;
	border-radius: 3px;
	font-size: 14px;
}


/* Contents-Area */

.gclone-wrap #gclone-contents-area {
	height: 60%;
	width: 100%;
}

#gclone-contents-area .logo-area {
	padding-top: 20px;
	width: 100%;
	height: 130px;
}


#gclone-contents-area .search-area {
	border: 1px solid lightgray;
	width: 700px;
	height: 90px;
	margin: 30px;
	border-radius: 40px;
	justify-content: space-between;
	align-items: center;
}

#gclone-contents-area .search-area .search-icon-area > * {
	margin-left: 20px;
}

#gclone-contents-area .search-area .act-icon-area > * {
	margin-right: 20px;
}

#gclone-contents-area .btn-area {
	width: 100%;
	height: 175px;
	align-items: center;
}


#gclone-contents-area .btn-area .btn-google-search > * {
	margin-right: 20px;
	width: 130px;
	height: 40px;
	font-size: 14px;
	border: none;
	padding: 0px;
	border-radius: 5px;
}

#gclone-contents-area .btn-area .btn-google-search button:hover {
	border: 1px solid lightgray;
}

/* Footer-Area */

.gclone-wrap #gclone-footer {
	width: 100%;
	height: 30%;
}

#gclone-footer .footer1 {
	margin-left: 30px;
	font-size: 16px;
	border-bottom: 1px solid lightgray;
	padding: 20px;
}

#gclone-footer .footer2-wrap {
	justify-content: flex-end;
	height: 30%;
}

#gclone-footer .footer2 {
	justify-content: space-between;
	width: 600px;
}

#gclone-footer .footer2 .footer-ad-area > * {
	margin-left: 20px;
}

#gclone-footer .footer2 .footer-setting-area > * {
	margin-right: 20px;
	justify-content: flex-end;
}




/** JS 1 CRUD Area **/

.js1-wrap {
	width: 100%;
	height: 100%;
}

.js1-wrap .js1-input {
	margin-top: 50px;
	width: 500px;
	height: 30px;
	background: none;
	border: 1px solid white;
	border-radius: 10px;
	text-indent: 10px;
}

.js1-wrap .js1-input::placeholder {
	text-indent: 10px;
}

.js1-wrap .js1-input:focus {
	color: white;
	border-radius: 10px;
}


/* js2 Area */

.js2-wrap span {
	margin-right: 10px;
}

.js2-wrap .js2-submit-btn {
	display: none;
}

.js2-wrap .js2-input {
	background: none;
	border: 1px solid white;
	border-radius: 4px;
	height: 30px;
	width: 300px;
	color: white;
	text-indent: 5px;
}

.js2-wrap .js2-input::placeholder {
	text-indent: 5px;
}




/* js3 Area */

.js3-wrap button {
	width: 130px;
	height: 40px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
}

.js3-wrap .js3-output-wrap {
	width: 500px;
	height: 500px;
	word-break:break-all;
		
}

.js3-wrap .js3-output1 {
	margin-bottom: 50px;
}

.js3-wrap .js3-output1 p {
	margin-bottom: 10px;
}



/* js4 Area */
.js4-wrap .js4-par {
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js4-wrap .js4-ret {
	margin-bottom: 20px;
	background-color: #FEB131;
	color: white;
	width: 500px;
	border: 1px solid #FEB131;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js4-wrap .js4-btn {
	background-color: inherit;
	color: white;
	width: 300px;
	border: 2px dashed white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
}

.js4-wrap .js4-btn:hover {
	background-color: #FEB131;
	
}


/* js5 Area */
.js5-wrap .js5-param {
	margin-bottom: 20px;
	width: 300px;
	border: 1px solid white;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: none;
	color: white;
	font-size: 20px;
}

.js5-wrap .js5-param:focus {
	border-radius: 10px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
	opacity: 1;
}



/* js6 Area */
.js6-wrap .js6-par {
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js6-wrap .js6-ret {
	margin-bottom: 20px;
	background-color: #BF9F78;
	color: white;
	width: 500px;
	border: 1px solid #BF9F78;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js6-wrap .js6-btn {
	background-color: inherit;
	color: white;
	width: 300px;
	border: 2px dashed white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
}

.js6-wrap .js6-btn:hover {
	background-color: #BF9F78;
	
}



/* js7 Area */
.js7-wrap .js7-par {
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js7-wrap .js7-ret {
	margin-bottom: 20px;
	background-color: #589957;
	color: white;
	width: 500px;
	border: 1px solid #589957;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js7-wrap .js7-btn {
	background-color: inherit;
	color: white;
	width: 300px;
	border: 2px dashed white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
}

.js7-wrap .js7-btn:hover {
	background-color: #589957;
	
}



/* js8 Area */
.js8-wrap .js8-par {
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js8-wrap .js8-ret {
	margin-bottom: 20px;
	background-color: #49A4B9;
	color: white;
	width: 500px;
	border: 1px solid #49A4B9;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js8-wrap .js8-btn {
	background-color: inherit;
	color: white;
	width: 300px;
	border: 2px dashed white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
}

.js8-wrap .js8-btn:hover {
	background-color: #49A4B9;
	
}


/* js9 Area */
.js9-wrap .js9-par {
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js9-wrap .js9-ret {
	margin-bottom: 20px;
	background-color: #F46932;
	color: white;
	width: 500px;
	border: 1px solid #F46932;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.js9-wrap .js9-btn {
	background-color: inherit;
	color: white;
	width: 300px;
	border: 2px dashed white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
}

.js9-wrap .js9-btn:hover {
	background-color: #f46932;
	
}