.flex {
	display: flex;
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

/*gclone area*/

.glcone-wrapper {
	width: 100%;
	height: 100%;
}

.gclone-wrap {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 14px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}

.gclone-wrap a {
	color: black !important;
	text-decoration: none;
}


/* Header-Area */
.gclone-wrap {
	width: 958px;
	height: 439px;
}


.gclone-wrap #gclone-header {
	height: 10%;
	justify-content: space-between;
	align-items: center;
}


.gclone-wrap #gclone-header .left-box {
	width: 30%;
	height: 100%;
	align-items: center;
	padding-top: 10px;
}

.gclone-wrap #gclone-header .left-box > * {
	margin-left: 30px;
}

.gclone-wrap #gclone-header .right-box {
	width: 70%;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	padding-top: 10px;
}

.gclone-wrap #gclone-header .right-box > * {
	margin-right: 30px;
}

.gclone-wrap #gclone-header .login-btn {
	height: 35px;
	width: 85px;
	border: none;
	background-color: #1a73e8;
	color: white;
	border-radius: 3px;
	font-size: 14px;
}


/* Contents-Area */

.gclone-wrap #gclone-contents-area {
	height: 60%;
	width: 100%;
}

#gclone-contents-area .logo-area {
	padding-top: 20px;
	width: 100%;
	height: 130px;
}


#gclone-contents-area .search-area {
	border: 1px solid lightgray;
	width: 700px;
	height: 90px;
	margin: 30px;
	border-radius: 40px;
	justify-content: space-between;
	align-items: center;
}

#gclone-contents-area .search-area .search-icon-area > * {
	margin-left: 20px;
}

#gclone-contents-area .search-area .act-icon-area > * {
	margin-right: 20px;
}

#gclone-contents-area .btn-area {
	width: 100%;
	height: 175px;
	align-items: center;
}


#gclone-contents-area .btn-area .btn-google-search > * {
	margin-right: 20px;
	width: 130px;
	height: 40px;
	font-size: 14px;
	border: none;
	padding: 0px;
	border-radius: 5px;
}

#gclone-contents-area .btn-area .btn-google-search button:hover {
	border: 1px solid lightgray;
}

/* Footer-Area */

.gclone-wrap #gclone-footer {
	width: 100%;
	height: 30%;
}

#gclone-footer .footer1 {
	margin-left: 30px;
	font-size: 16px;
	border-bottom: 1px solid lightgray;
	padding: 20px;
}

#gclone-footer .footer2-wrap {
	justify-content: flex-end;
	height: 30%;
}

#gclone-footer .footer2 {
	justify-content: space-between;
	width: 600px;
}

#gclone-footer .footer2 .footer-ad-area > * {
	margin-left: 20px;
}

#gclone-footer .footer2 .footer-setting-area > * {
	margin-right: 20px;
	justify-content: flex-end;
}